services:
  meld_graph:
    build: .
    image: meldproject/meld_graph:latest
    platform: "linux/amd64"
    runtime: nvidia
    tty: true
    stdin_open: true
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - FS_LICENSE=/run/secrets/license.txt
      - MELD_LICENSE=/run/secrets/meld_license.txt
    volumes:
      - /home/mikhelson/FCD-Detection/meld_graph/data:/data # Change on your local path
    secrets:
      - license.txt
      - meld_license.txt
    user: $DOCKER_USER
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]

secrets:
  license.txt:
    file: ./license.txt
  meld_license.txt:
    file: ./meld_license.txt
