asttokens==3.0.0
attrs==24.3.0
babel==2.16.0
backcall==0.2.0
Brotli==1.0.9
charset-normalizer==3.3.2
click==8.1.8
cloudpickle==3.0.0
cycler==0.12.1
cycler==0.11.0
debugpy==1.8.11
decorator==5.1.1
defusedxml==0.7.1
exceptiongroup==1.2.0
executing==0.8.3
fpdf==1.7.2
fsspec==2025.3.2
idna==3.7
iniconfig==1.1.1
ipython-genutils==0.2.0
json5==0.9.25
locket==1.0.0
MarkupSafe==3.0.2
mkl-service==2.4.0
nest-asyncio==1.6.0
networkx==3.2.1
pandocfilters==1.5.0
parso==0.8.4
pickleshare==0.7.5
platformdirs==4.3.7
prometheus_client==0.21.1
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycparser==2.21
Pygments==2.19.1
PySocks==1.7.1
fastjsonschema==2.20.0
PyYAML==6.0.2
pyzmq==26.2.0
rpds-py==0.22.3
Send2Trash==1.8.2
setuptools==78.1.1
six==1.17.0
sniffio==1.3.0
soupsieve==2.5
tomli==2.0.1
toolz==1.0.0
tornado==6.4.2
traitlets==5.14.3
typing_extensions==4.12.2
unicodedata2==15.1.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
anyio==3.5.0
beautifulsoup4==4.12.3
bleach==6.2.0
cffi==1.17.1
comm==0.2.1
cytoolz==1.0.1
fonttools==4.58.0
fonttools==4.55.3
importlib_metadata==8.5.0
importlib_resources==6.5.2
importlib_resources==6.4.0
jedi==0.19.2
Jinja2==3.1.6
jupyter_core==5.7.2
jupyterlab-pygments==0.2.2
matplotlib-inline==0.1.6
num2words==0.5.14
num2words==0.5.12
partd==1.4.2
pexpect==4.8.0
pip==23.3.1
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
mpmath==1.3.0
referencing==0.30.2
stack-data==0.2.0
terminado==0.17.1
tinycss2==1.4.0
argon2-cffi-bindings==21.2.0
dask==2024.5.0
ipython==8.15.0
jsonschema-specifications==2023.7.1
mistune==3.1.2
requests==2.32.3
argon2-cffi==21.3.0
jsonschema==4.23.0
jupyter_client==8.6.3
ipykernel==6.29.5
nbformat==5.10.4
nbclient==0.10.2
nbconvert==7.16.6
jupyter-server==1.23.4
jupyterlab_server==2.27.3
notebook_shim==0.2.4
nbclassic==0.5.5
jupyterlab==3.2.9
h5py==3.6.0
scikit-image==0.18.3
scikit-image==0.24.0
imageio==2.37.0
acres==0.3.0
pywavelets==1.5.0
SimpleITK==2.1.1
pytz==2025.2
neuroCombat==0.2.12
docopt==0.6.2
wrapt==1.17.2
tqdm==4.67.1
torch_scatter==2.1.2
toml==0.10.2
threadpoolctl==3.6.0
python-utils==3.9.1
webcolors==24.11.1
pluggy==0.13.1
narwhals==1.40.0
lxml==5.4.0
joblib==1.5.0
joblib==1.5.1
interface_meta==1.3.0
greenlet==3.2.2
astor==0.8.1
triton==3.1.0
SQLAlchemy==2.0.41
filelock==3.18.0
scipy==1.10.1
pytest==6.2.3
progressbar2==4.2.0
plotly==6.1.1
patsy==0.5.4
matplotlib==3.5.1
matplotlib==3.7.3
statsmodels==0.14.1
seaborn==0.11.0
scikit-learn==1.3.2
scikit-learn==1.6.1
potpourri3d==0.0.6
matplotlib-surface-plotting==0.10
lapy==0.6.0
formulaic==0.5.2
formulaic==1.1.1
captum==0.6.0
bidsschematools==1.0.8
nilearn==0.10.2
bids-validator==1.14.7.post0
pybids==0.16.4
pybids==0.19.0
dill==0.4.0
nibabel==5.3.2
fslpy==3.22.0
einops==0.8.1
antspyx==0.5.4
monai==1.1.0
tokenizers==0.13.3
regex==2024.11.6
huggingface-hub==0.31.4
transformers==4.24.0
tzdata==2025.2
lazy_loader==0.4
MedPy==0.5.2
typing-inspection==0.4.1
sentry-sdk==2.29.1
eval_type_backport==0.2.2
pydantic==2.11.5
atlasreader==0.1.2
gitdb==4.0.12
cached-property==1.5.2
graphlib-backport==1.0.3
frozendict==2.4.6
universal_pathlib==0.2.6
GitPython==3.1.44
pandas==1.4.1
pandas==1.5.3
zipp==3.21.0
wandb==0.19.11
pyparsing==3.2.3
pyparsing==3.2.0
pillow==11.2.1
pillow==11.0.0
torchmetrics==1.3.0
packaging==25.0
packaging==24.2
kiwisolver==1.4.7
kiwisolver==1.4.4
contourpy==1.3.0
contourpy==1.2.1
annotated-types==0.7.0
propcache==0.3.1
multidict==6.4.4
multidict==6.6.3
lightning-utilities==0.14.3
frozenlist==1.6.0
async-timeout==5.0.1
aiohappyeyeballs==2.6.1
yarl==1.20.0
yarl==1.20.1
aiosignal==1.3.2
aiohttp==3.12.0
pytorch-lightning==1.9.0
sympy==1.13.1
nvidia-nvtx-cu12==12.1.105
nvidia-nvjitlink-cu12==12.1.105
nvidia-nccl-cu12==2.21.5
nvidia-curand-cu12==10.3.2.106
nvidia-cufft-cu12==11.0.2.54
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cublas-cu12==12.1.3.1
nvidia-cusparse-cu12==12.1.0.106
nvidia-cudnn-cu12==9.1.0.70
nvidia-cusolver-cu12==11.4.5.107
torch==2.5.1+cu121
torchvision==0.20.1+cu121
torchaudio==2.5.1+cu121
fairscale==0.4.13
smmap==5.0.2
setproctitle==1.3.6
pydantic_core==2.33.2
docker-pycreds==0.4.0
hyper-connections==0.1.15
axial_positional_embedding==0.3.12
local-attention==1.11.1
performer-pytorch==1.1.4
certifi==2025.6.15
PyVirtualDisplay==3.0
configobj==5.0.9
loguru==0.7.2
traits==7.0.2
PyQt5_sip==4.19.18
Bottleneck==1.4.2
imagecodecs==2021.8.26
mkl-fft==1.3.1
mkl-random==1.2.2
numexpr==2.7.3
PyQt5==5.12.3
nlpaug==1.1.11
vtk==9.1.0
PyQtChart==5.12
PyQtWebEngine==5.12.1
tifffile==2021.7.2
pyface==7.3.0
traitsui==7.2.1
apptools==5.1.0
envisage==6.0.1
mayavi==4.8.1
pysurfer==0.11.2
numpy==1.25.2
pooch==1.8.2
future==1.0.0
protobuf==4.25.3
batchgenerators==0.25.1
absl-py==2.3.0
surface-distance==0.1
elasticdeform==0.5.1
opencv-python==4.11.0.86
Werkzeug==3.1.3
tensorboard-data-server==0.7.2
grpcio==1.73.0
Markdown==3.8.2
tensorboard==2.19.0
torchinfo==1.8.0
nltk==3.9.1
bert-score==0.3.13
torch-geometric==2.6.1
grafog==0.1
smart-open==7.1.0
gensim==4.3.3
sacremoses==0.1.1
gdown==5.2.0
sentencepiece==0.2.0
backoff==2.2.1
chardet==5.2.0
colorama==0.4.6
distro==1.9.0
ExifRead==3.3.1
fasteners==0.19
humanize==4.12.3
iso8601==2.1.0
jeepney==0.9.0
jmespath==1.0.1
looseversion==1.3.0
more-itertools==10.7.0
mutagen==1.47.0
patool==1.15.0
annexremote==0.0.0
backports.tarfile==1.2.0
graphql-core==3.2.6
jaraco.classes==3.4.0
jaraco.functools==4.1.0
msgpack==1.1.1
simplejson==3.20.1
urllib3==1.26.19
Whoosh==2.7.4
botocore==1.39.3
cryptography==39.0.0
jaraco.context==6.0.1
pyperclip==1.9.0
keyrings.alt==5.0.2
requests-ftp==0.3.1
requests-toolbelt==1.0.0
s3transfer==0.13.0
SecretStorage==3.3.3
boto3==1.39.3
gql==3.5.3
keyring==25.6.0
python-gitlab==6.1.0
datalad==1.2.1
autocommand==2.2.2
backports.tarfile==1.2.0
importlib_metadata==8.0.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
more-itertools==10.3.0
packaging==24.2
platformdirs==4.2.2
tomli==2.0.1
typeguard==4.3.0
typing_extensions==4.12.2
wheel==0.45.1
zipp==3.19.2
meld_graph==2.2.2
